<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/styles.css">
        <title>
            {% block page_title %}
            Base
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="container">
            {% block page_content %}
            Base
            {% endblock %}
        </div>
    </body>
    <footer>
        <!-- Insert footer -->
    </footer>
</html>